.flex-tog {
	display: flex;
	align-items: center;
}
.back {
	padding-right: 70px;
	a {
		display: flex;
		align-items: center;
		font-size: 18px;
		color: #181818;
	}

	span {
		color: #d42323;
	}
	#arrow {
		height: 20px;
		padding-right: 3px;
		path {
			fill: #181818;
			transition-duration: 0.2s;
		}
	}
	:hover #arrow path {
		fill: #d42323;
	}
}

.task-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 30px;
	color: #181818;
	h2 {
		font-size: 30px;
		font-weight: 500;
		padding-bottom: 30px;
	}
	.input {
		display: flex;
		flex-direction: column;
		align-items: center;
		.form {
			display: flex;
			align-items: center;
			padding-bottom: 40px;
		}
		@include button();
		a {
			padding: 10px 20px;
			font-size: 20px;
		}

		p {
			font-size: 20px;
			padding-right: 10px;
		}
		span {
			font-weight: 500;
		}
		input {
			width: 250px;
			padding: 5px;
			border: none;
			border-bottom: 2px solid #d42323;
			font-size: 18px;
			background: transparent;
		}
	}
	.table {
		padding-top: 40px;
		font-size: 18px;
		table {
			border-collapse: collapse;
		}
		p {
			display: inline-block;
		}

		th {
			border-bottom: 2px solid #d42323;
		}
		td,
		th {
			padding: 10px 15px;
			border-left: 2px solid #d42323;
			border-right: 2px solid #d42323;
			text-align: center;
		}

		.td-flex {
			display: flex;
			align-items: center;
		}
		.fa-sort-up {
			padding-top: 12px;
			padding-right: 3px;
			font-size: 25px;
			color: #035500;
		}
		.fa-sort-down {
			padding-bottom: 12px;
			padding-right: 3px;
			font-size: 25px;
			color: #530000;
		}

		.arTSub,
		.arTVid,
		.arTView,
		.arBSub,
		.arBVid,
		.arBView {
			display: none;
		}

		.sort-flex {
			display: flex;
			align-items: center;
			justify-content: center;
			p {
				padding-right: 5px;
			}
		}

		.sortTop {
			position: relative;
			width: 13px;
			height: 10px;
			overflow: hidden;
			cursor: pointer;
			.top {
				position: absolute;
				left: 0;
				top: 0;
				padding-top: 0;
				padding-right: 0;
				font-size: 20px;
				color: #3f3f3f;
			}
		}

		.sortBottom {
			position: relative;
			width: 13px;
			height: 10px;
			overflow: hidden;
			cursor: pointer;
			.bottom {
				position: absolute;
				left: 0;
				top: -10px;
				padding-top: 0;
				padding-right: 0;
				font-size: 20px;
				color: #3f3f3f;
			}
		}
	}
}
