@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.wrapper {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header {
  padding: 30px 50px 20px;
  border-bottom: 1px solid #f0f0f0;
}

.logo h1 {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 400;
  color: #d42323;
}

.logo span {
  color: #181818;
}

.flex-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  width: 50%;
  padding-left: 50px;
}

.content .hello {
  font-size: 35px;
  font-weight: 400;
  color: #181818;
}

.content .buttons {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .buttons .empty {
  width: 10%;
}

.content button {
  position: relative;
  background: transparent;
  border: 2px solid #d42323;
  overflow: hidden;
}

.content a {
  display: block;
  background: transparent;
  padding: 15px 25px;
  font-size: 22px;
  color: #383838;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.content button:hover a {
  color: #fff;
}

.content .hover-btn {
  position: absolute;
  background: #d42323;
  border-radius: 50%;
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: -1;
}

.img-cont {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-cont img {
  width: 70%;
}

footer {
  padding: 30px 0 20px;
  border-top: 1px solid #f0f0f0;
}

footer .copy {
  text-align: center;
  color: #181818;
  font-size: 14px;
  font-weight: 300;
}

footer .copy p {
  line-height: 2;
}
