@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.wrapper {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header {
  padding: 30px 50px 20px;
  border-bottom: 1px solid #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .night-toggle {
  position: relative;
  height: 24px;
  width: 50px;
  padding: 2px;
  border-radius: 20px;
  background: #d3d3d3;
  cursor: pointer;
}

header .toggle {
  position: absolute;
  left: 2px;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #f5f5f5;
}

.logo h1 {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 400;
  color: #d42323;
}

.logo span {
  color: #181818;
}

.flex-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  width: 50%;
  padding-left: 50px;
}

.content .hello {
  font-size: 35px;
  font-weight: 400;
  color: #181818;
}

.content .buttons {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .buttons .empty {
  width: 10%;
}

.content button {
  position: relative;
  background: transparent;
  border: 2px solid #d42323;
  overflow: hidden;
}

.content a {
  position: relative;
  display: block;
  background: transparent;
  padding: 15px 25px;
  font-size: 22px;
  color: #383838;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  z-index: 5;
}

.content .hover-btn {
  position: absolute;
  background: #d42323;
  border-radius: 50%;
  z-index: 1;
}

.img-cont {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-cont img {
  width: 70%;
}

footer {
  padding: 30px 0 20px;
  border-top: 1px solid #f0f0f0;
}

footer .copy {
  text-align: center;
  color: #181818;
  font-size: 14px;
  font-weight: 300;
}

footer .copy p {
  line-height: 2;
}

.content-analitics__title {
  padding-top: 30px;
  text-align: center;
  color: #181818;
}

.content-analitics__title h2 {
  font-size: 35px;
  font-weight: 400;
}

.content-analitics__title h2 b {
  color: #d42323;
}

.content-analitics__title p {
  padding-top: 20px;
  font-size: 22px;
}

.content-analitics__tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding: 40px 0 30px;
}

.content-analitics button {
  position: relative;
  background: transparent;
  border: 2px solid #d42323;
  overflow: hidden;
}

.content-analitics a {
  position: relative;
  display: block;
  background: transparent;
  padding: 15px 25px;
  font-size: 22px;
  color: #383838;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  z-index: 5;
}

.content-analitics .hover-btn {
  position: absolute;
  background: #d42323;
  border-radius: 50%;
  z-index: 1;
}

.content-analitics .task {
  border: none;
  border-left: 4px solid #d42323;
  text-align: left;
}

.flex-tog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.back {
  padding-right: 70px;
}

.back a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: #181818;
}

.back span {
  color: #d42323;
}

.back #arrow {
  height: 20px;
  padding-right: 3px;
}

.back #arrow path {
  fill: #181818;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.back :hover #arrow path {
  fill: #d42323;
}

.task-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  color: #181818;
}

.task-container h2 {
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 30px;
}

.task-container .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task-container .input .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
}

.task-container .input button {
  position: relative;
  background: transparent;
  border: 2px solid #d42323;
  overflow: hidden;
}

.task-container .input a {
  position: relative;
  display: block;
  background: transparent;
  padding: 15px 25px;
  font-size: 22px;
  color: #383838;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  z-index: 5;
}

.task-container .input .hover-btn {
  position: absolute;
  background: #d42323;
  border-radius: 50%;
  z-index: 1;
}

.task-container .input a {
  padding: 10px 20px;
  font-size: 20px;
}

.task-container .input p {
  font-size: 20px;
  padding-right: 10px;
}

.task-container .input span {
  font-weight: 500;
}

.task-container .input input {
  width: 250px;
  padding: 5px;
  border: none;
  border-bottom: 2px solid #d42323;
  font-size: 18px;
  background: transparent;
}

.task-container .table {
  padding-top: 40px;
  font-size: 18px;
}

.task-container .table table {
  border-collapse: collapse;
}

.task-container .table th {
  border-bottom: 2px solid #d42323;
}

.task-container .table td,
.task-container .table th {
  padding: 10px 15px;
  border-left: 2px solid #d42323;
  border-right: 2px solid #d42323;
  text-align: center;
}
