*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  background: url(../images/bg_home.jpg);
  background-size: 100%;
  color: #e7e7e7;
}

.hidden {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

header {
  position: relative;
  padding-bottom: 50px;
  z-index: 3;
}

header h1 {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 120px;
  color: rgba(75, 26, 21, 0.7);
  text-shadow: 0 0 30px rgba(26, 3, 0, 0.8);
}

header p {
  position: relative;
  padding-top: 70px;
  text-align: center;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.8);
  z-index: 2;
}

header .empty {
  width: 10%;
}

main {
  position: relative;
  z-index: 3;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  width: 100%;
}

.flex-container .empty {
  width: 10%;
}

.flex-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  width: 40%;
  padding: 30px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
}

.flex-content_left {
  -webkit-transform: rotatey(30deg);
          transform: rotatey(30deg);
}

.flex-content_left:hover {
  -webkit-box-shadow: -30px 0 50px rgba(0, 0, 0, 0.1);
          box-shadow: -30px 0 50px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotatey(30deg) translateX(40px) scale(1.1);
          transform: rotatey(30deg) translateX(40px) scale(1.1);
}

.flex-content_right {
  -webkit-transform: rotatey(-30deg);
          transform: rotatey(-30deg);
}

.flex-content_right:hover {
  -webkit-box-shadow: 30px 0 50px rgba(0, 0, 0, 0.1);
          box-shadow: 30px 0 50px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotatey(-30deg) translateX(-40px) scale(1.1);
          transform: rotatey(-30deg) translateX(-40px) scale(1.1);
}

.flex-content h2 {
  text-align: center;
  font-size: 40px;
}

footer {
  padding-top: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  z-index: 3;
}

footer .copy {
  font-size: 15px;
  padding-top: 10px;
}
