@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto&display=swap");

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
img {
	width: 100%;
}

.wrapper {
	font-family: "Montserrat", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header {
	padding: 30px 50px 20px;
	border-bottom: 1px solid #f0f0f0;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.night-toggle {
		position: relative;
		height: 24px;
		width: 50px;
		padding: 2px;
		border-radius: 20px;
		background: #d3d3d3;
		cursor: pointer;
	}
	.toggle {
		position: absolute;
		left: 2px;
		height: 20px;
		width: 20px;
		border-radius: 20px;
		background: #f5f5f5;
	}
}
.logo {
	h1 {
		font-family: "Roboto", sans-serif;
		font-size: 35px;
		font-weight: 400;
		color: #d42323;
	}
	span {
		color: #181818;
	}
}

.flex-cont {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin button() {
	button {
		position: relative;
		background: transparent;
		border: 2px solid #d42323;
		overflow: hidden;
	}
	a {
		position: relative;
		display: block;
		background: transparent;
		padding: 15px 25px;
		font-size: 22px;
		color: #383838;
		transition-duration: 0.3s;
		z-index: 5;
	}

	.hover-btn {
		position: absolute;
		background: #d42323;
		border-radius: 50%;
		z-index: 1;
	}
}

.content {
	width: 50%;
	padding-left: 50px;
	.hello {
		font-size: 35px;
		font-weight: 400;
		color: #181818;
	}

	.buttons {
		padding-top: 50px;
		display: flex;
		.empty {
			width: 10%;
		}
	}

	@include button();
}

.img-cont {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		width: 70%;
	}
}

footer {
	padding: 30px 0 20px;
	border-top: 1px solid #f0f0f0;
	.copy {
		text-align: center;
		color: #181818;
		font-size: 14px;
		font-weight: 300;
		p {
			line-height: 2;
		}
	}
}

@import "analitics";
@import "tasks";
