@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

@import "_vars";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus-visible {
  outline: 2px solid $base-color;
}

html,
body {
  font-size: 16px;
  font-family: "Montserrat Alternates";
  transition: all 0.3s;

  &.theme-toggle {
    background: #333;
    color: #fff;
    .header {
      background: rgba(24, 24, 24, 0.2);
      color: #fff;
      box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.3);
    }

    .menu__item::before {
      background: rgb(255, 255, 255);
    }
  }
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

//==================================================================================================
.header {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
}

.logo {
  text-decoration: none;
  color: red;
  font-weight: 900;
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: cursive, sans-serif;
  transition: transform 0.3s;
  padding: 10px;
  &:hover {
    transform: translateX(40px);
    span:nth-child(1) {
      opacity: 1;
      transform: translateX(-10px);
    }
  }
  span {
    transition: transform 0.3s, opacity 0.3s;
    display: inline-block;
  }
  span:nth-child(1) {
    opacity: 0;
    transform: translateX(20px);
  }
  span:nth-child(2) {
    position: relative;
    color: $base-color;
  }
}

.menu {
  display: flex;
  align-items: center;
  // .menu__list
  &__list {
    display: flex;
    align-self: center;
  }
  // .menu__item
  &__item {
    position: relative;
    list-style: none;
    align-self: center;

    &:hover::before {
      transform: scale(1);
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      width: 100%;
      background: rgb(0, 0, 0);
      height: 2px;
      transform: scale(0);
      transition: all 0.3s;
      border-radius: 100px;

      body.theme-toggle {
        .menu__item::before {
          background: rgb(180, 180, 180);
        }
      }
    }

    & + & {
      margin-left: 30px;
    }
  }
  // .menu__link
  &__link {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    font-size: 1em;
    padding: 0.5em 1em;
  }
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 22px;
  margin-left: 50px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(37, 37, 37);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #cecece;
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(190, 190, 190);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

//==================================================================================================

.hello {
  padding: 100px 0;
  // .hello__body
  &__body {
    display: flex;
    justify-content: space-between;
  }
  // .hello__title
  &__title {
    font-size: 2em;
    margin-bottom: 20px;
  }
  // .hello__description
  &__description {
    font-size: 1.2em;
    margin-bottom: 25px;
    line-height: 1.5em;
  }
  // .hello__btn
  &__btn {
    & + & {
      margin-left: 20px;
    }
  }

  // .heallo__content
  &__content {
    flex: 1 1 50%;
  }
  // .heallo__img
  &__img {
    flex: 1 1 50%;
  }
}

.btn {
  padding: 0.5em 1em;
  background: rgb(23, 77, 158);
  border: 0;
  color: #fff;
  cursor: pointer;

  font-size: 1.2em;

  transition: all 0.3s;
  outline: 0;

  &:focus-visible {
    outline: 2px solid $base-color;
  }

  &:hover {
    background: rgb(15, 57, 121);
  }
}

//==================================================================================================
//==================================================================================================
