@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus-visible {
  outline: 2px solid #eeea14;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

body.lock {
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #8f8f8f;
  border-radius: 100px;
}

.section-title {
  position: relative;
  color: #000;
  font-size: 1.5em;
  font-weight: 700;
  display: block;
  text-align: center;
  margin: 0 auto 30px;
}

.section-title::before {
  content: "◀ ";
  color: #d42323;
}

.section-title::after {
  content: " ▶";
  color: #d42323;
}

html,
body {
  font-size: 16px;
  font-family: "Montserrat";
  height: 100%;
}

body {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body.theme-toggle {
  background: #333;
  color: #fff;
}

body.theme-toggle .btn {
  color: #fff;
}

body.theme-toggle .search__input {
  color: #fff;
}

body.theme-toggle .section-title {
  color: #fff;
}

body.theme-toggle .header {
  background: rgba(24, 24, 24, 0.2);
  color: #fff;
  -webkit-box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.3);
}

body.theme-toggle .menu__item::before {
  background: white;
}

body.theme-toggle .footer {
  background: #181818;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

@media (max-width: 780px) {
  .header__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.logo {
  text-decoration: none;
  color: red;
  font-weight: 900;
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: cursive, sans-serif;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  padding: 10px;
}

@media (max-width: 780px) {
  .logo {
    margin-bottom: 10px;
  }
}

@media (min-width: 997px) {
  .logo:hover {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  .logo:hover span:nth-child(1) {
    opacity: 1;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

.logo span {
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  display: inline-block;
}

.logo span:nth-child(1) {
  margin-right: 5px;
}

@media (min-width: 997px) {
  .logo span:nth-child(1) {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}

.logo span:nth-child(2) {
  position: relative;
  color: #eeea14;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 780px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

@media (max-width: 580px) {
  .menu__list {
    display: none;
  }
}

.menu__item {
  position: relative;
  list-style: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 997px) {
  .menu__item:hover::before {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.menu__item::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  width: 100%;
  background: black;
  height: 2px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 100px;
}

.menu__item::before body.theme-toggle .menu__item::before {
  background: #b4b4b4;
}

.menu__item + .menu__item {
  margin-left: 30px;
}

@media (max-width: 850px) {
  .menu__item + .menu__item {
    margin-left: 10px;
  }
}

.menu__link {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 1em;
  padding: 0.5em 1em;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 22px;
  margin-left: 50px;
}

@media (max-width: 780px) {
  .switch {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .switch {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0;
  }
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #252525;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #cecece;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #bebebe;
          box-shadow: 0 0 1px #bebebe;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

.hello {
  padding: 100px 0;
}

@media (max-width: 900px) {
  .hello {
    text-align: center;
  }
}

.hello__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hello__title {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.hello__description {
  font-size: 1.2em;
  margin-bottom: 25px;
  line-height: 1.5em;
}

@media (max-width: 900px) {
  .hello__description {
    max-width: 500px;
    margin: 0 auto;
  }
}

.hello__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 900px) {
  .hello__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.hello__btn {
  display: block;
}

.hello__btn + .hello__btn {
  margin-left: 20px;
}

.hello__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
}

.hello__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  opacity: 0;
  -webkit-animation: preloader 1s 7s forwards;
          animation: preloader 1s 7s forwards;
}

.hello__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 900px) {
  .hello__img {
    display: none;
  }
}

.btn {
  padding: 0.5em 1em;
  border: 2px solid #d42323;
  background: transparent;
  color: #000;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: 0;
}

.btn:focus-visible {
  outline: 2px solid #eeea14;
}

.btn:hover {
  background: #d42323;
  color: #fff;
  border-color: #fff;
  border-radius: 5px;
}

.footer {
  text-align: center;
  padding: 40px 0;
  border-top: 1px solid #00000028;
}

.section-page {
  margin: 50px 0;
}

.yt-analytics__body {
  text-align: center;
}

.yt-analytics__text {
  text-align: center;
  margin-bottom: 20px;
}

.yt-analytics__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}

.yt-analytics__btns * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.search__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search__input {
  width: 400px;
  margin-right: 20px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #d42323;
  outline: 0;
  color: #000;
  font-size: 20px;
  padding: 0 5px;
}

.search__input:enabled:read-write:-webkit-any(:focus, :hover)::-webkit-search-cancel-button {
  display: none;
}

.search__btn.lock {
  cursor: wait;
  opacity: 0.5;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  pointer-events: none;
}

.result {
  margin: 50px auto;
}

.result__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px 1fr;
      grid-template-columns: 250px 1fr;
  row-gap: 40px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.result__name-column {
  padding-bottom: 5px;
}

.result__text-column {
  padding-bottom: 5px;
  font-weight: 700;
  line-height: 1.7em;
  letter-spacing: 0.1em;
}

.result__text-column a {
  text-decoration: none;
  color: inherit;
}

.result__text-column a:hover {
  text-decoration: underline;
}

.result__icon {
  width: 100px;
  height: 100px;
  grid-column: 2 span;
  text-decoration: none;
}

.result__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body.theme-toggle #preloader {
  background: #333;
}

@media (max-width: 900px) {
  body.theme-toggle #preloader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#preloader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 900px) {
  #preloader {
    display: none;
  }
}

#preloader img {
  width: 40%;
  position: absolute;
}

@media (min-width: 1920px) {
  #preloader img {
    width: 50%;
  }
}

@-webkit-keyframes preloader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes preloader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */