@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

@import "_vars";

.disabled {
  opacity: 0.5;
  filter: grayscale(1);
  pointer-events: none;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus-visible {
  outline: 2px solid $base-color;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
body {
  &.lock {
    overflow: hidden;
  }
}

.main {
  flex: 1 1 auto;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(143, 143, 143);
  border-radius: 100px;
}

//==================================================================================================
//global
.section-title {
  position: relative;
  color: #000;
  font-size: 1.5em;
  font-weight: 700;
  display: block;
  text-align: center;
  margin: 0 auto 30px;

  &::before {
    content: "◀ ";
    color: $primary-color;
  }
  &::after {
    content: " ▶";
    color: $primary-color;
  }
}
//==================================================================================================

html,
body {
  font-size: 16px;
  font-family: "Montserrat";
  height: 100%;
}

body {
  transition: all 0.3s;

  &.theme-toggle {
    .btn {
      color: #fff;
    }

    .search__input {
      color: #fff;
    }

    .section-title {
      color: #fff;
    }
    background: #333;
    color: #fff;
    .header {
      background: rgba(24, 24, 24, 0.2);
      color: #fff;
      box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.3);
    }

    .menu__item::before {
      background: rgb(255, 255, 255);
    }

    .footer {
      background: rgba(24, 24, 24, 1);
    }
  }
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

//==================================================================================================
.header {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    @media (max-width: 780px) {
      flex-direction: column;
    }
  }
}

.logo {
  text-decoration: none;
  color: red;
  font-weight: 900;
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: cursive, sans-serif;
  transition: transform 0.3s;
  padding: 10px;

  @media (max-width: 780px) {
    margin-bottom: 10px;
  }
  @media (min-width: 997px) {
    &:hover {
      transform: translateX(40px);
      span:nth-child(1) {
        opacity: 1;
        transform: translateX(-10px);
      }
    }
  }
  span {
    transition: transform 0.3s, opacity 0.3s;
    display: inline-block;
  }
  span:nth-child(1) {
    margin-right: 5px;
    @media (min-width: 997px) {
      opacity: 0;
      transform: translateX(20px);
    }
  }
  span:nth-child(2) {
    position: relative;
    color: $base-color;
  }
}

.menu {
  display: flex;
  align-items: center;

  @media (max-width: 780px) {
    flex-direction: column;
  }

  // .menu__list
  &__list {
    display: flex;
    align-self: center;

    @media (max-width: 580px) {
      display: none;
    }
  }
  // .menu__item
  &__item {
    position: relative;
    list-style: none;
    align-self: center;

    @media (min-width: 997px) {
      &:hover::before {
        transform: scale(1);
      }
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      width: 100%;
      background: rgb(0, 0, 0);
      height: 2px;
      transform: scale(0);
      transition: all 0.3s;
      border-radius: 100px;

      body.theme-toggle {
        .menu__item::before {
          background: rgb(180, 180, 180);
        }
      }
    }

    & + & {
      margin-left: 30px;
      @media (max-width: 850px) {
        margin-left: 10px;
      }
    }
  }
  // .menu__link
  &__link {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    font-size: 1em;
    padding: 0.5em 1em;
  }
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 22px;
  margin-left: 50px;

  @media (max-width: 780px) {
    order: -1;

    margin: 0;
    margin-bottom: 20px;
  }

  @media (max-width: 480px) {
    order: -1;

    margin: 0;
  }
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch._dark {
  input + .slider {
    background-color: #cecece;
  }

  input + .slider {
    box-shadow: 0 0 1px rgb(190, 190, 190);
  }

  input + .slider:before {
    transform: translateX(26px);
  }
}

input:checked + .slider {
  background-color: #cecece;
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(190, 190, 190);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(37, 37, 37);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

//==================================================================================================

.hello {
  padding: 100px 0;

  @media (max-width: 900px) {
    text-align: center;
  }
  // .hello__body
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // .hello__title
  &__title {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  // .hello__description
  &__description {
    font-size: 1.2em;
    margin-bottom: 25px;
    line-height: 1.5em;

    @media (max-width: 900px) {
      max-width: 500px;
      margin: 0 auto;
    }
  }

  &__buttons {
    display: flex;

    @media (max-width: 900px) {
      justify-content: center;
    }
  }
  // .hello__btn
  &__btn {
    display: block;
    & + & {
      margin-left: 20px;
    }
  }

  // .heallo__content
  &__content {
    flex: 1 1 60%;
  }
  // .heallo__img
  &__img {
    flex: 1 1 40%;

    img {
      opacity: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    @media (max-width: 900px) {
      display: none;
    }
  }
}

.btn {
  display: inline-block;
  padding: 0.5em 1em;
  border: 2px solid $primary-color;
  background: transparent;
  color: #000;
  cursor: pointer;
  text-decoration: none;

  font-size: 1.2em;

  transition: all 0.3s;
  outline: 0;

  &:focus-visible {
    outline: 2px solid $base-color;
  }

  &:hover {
    background: $primary-color;
    color: #fff;
    border-color: $base-color;
    border-radius: 5px;
  }
}

//==================================================================================================
.footer {
  text-align: center;
  padding: 40px 0;
  border-top: 1px solid #00000028;
}

//==================================================================================================
.section-page {
  margin: 50px 0;
}
//==================================================================================================

.yt-analytics {
  &__inner {
    text-align: center;
  }
  // .yt-analytics__text
  &__text {
    text-align: center;
    margin: 0px 0px 50px 0px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
  }

  &__link {
    position: relative;
    flex: 1 1 auto;
    overflow: hidden;
    border: 0;
    border-left: 1px solid $primary-color;

    &::before {
      content: "";
      position: absolute;
      top: 0%;
      left: -100%;
      width: 100%;
      height: 100%;
      background: $primary-color;
      z-index: -1;
      transition: all 0.5s ease 0s;
      border-radius: 0 0 20px 20px 0;
    }

    &:nth-child(even)::before {
      left: 100%;
    }
    &:nth-child(even) {
      border-right: 1px solid $primary-color;
      border-left: 0;
    }

    &:hover {
      background: transparent;
      border-radius: 0;
      border-color: $primary-color;
    }
    &:hover::before {
      left: 0;
      color: #fff;
    }
  }
}

//==================================================================================================

.search {
  // .search__body
  &__body {
    display: flex;
    justify-content: center;
  }
  // .search__input
  &__input {
    width: 400px;
    margin-right: 20px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid $primary-color;
    outline: 0;
    color: #000;
    font-size: 20px;

    padding: 0 5px;

    &:enabled:read-write:-webkit-any(:focus, :hover)::-webkit-search-cancel-button {
      display: none;
    }
  }
  // .search__btn
  &__btn {
    &.lock {
      cursor: wait;
      opacity: 0.5;
      filter: grayscale(1);
      pointer-events: none;
    }
  }
}

//==================================================================================================

.result {
  margin: 50px auto;
  &__body {
    display: grid;
    grid-template-columns: 250px 1fr;
    row-gap: 40px;
    column-gap: 20px;
  }

  &__name-column {
    padding-bottom: 5px;
  }
  &__text-column {
    padding-bottom: 5px;
    font-weight: 700;
    line-height: 1.7em;
    letter-spacing: 0.1em;
    a {
      text-decoration: none;
      color: inherit;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__icon {
    width: 100px;
    height: 100px;
    grid-column: 2 span;
    text-decoration: none;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

//==================================================================================================

body.theme-toggle #preloader {
  background: #333;

  @media (max-width: 900px) {
    display: flex;
  }
}

#preloader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 999999;

  width: 100%;
  height: 100%;

  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 900px) {
    display: none;
  }
  img {
    width: 40%;
    position: absolute;
  }

  @media (min-width: 1920px) {
    img {
      width: 50%;
    }
  }
}

//========================================================================================================================================================
body {
  padding-bottom: 120px;
  height: 2000px;
}

.cash-save {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;

  background: rgba(196, 196, 196, 0.2);
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  text-align: center;

  height: 120px;

  padding: 20px 0;
  // .cash-save__body
  &__body {
  }
  // .cash-save__text
  &__text {
    font-size: 20px;
    margin-bottom: 20px;
  }
  // .cash-save__button
  &__button {
    font-size: 15px;
  }
  // .cash-save__button-y
  &__button-y {
    border-color: rgb(87, 211, 15);
    font-size: 20px;
  }
  // .cash-save__button-n
  &__button-n {
    margin-left: 50px;
    border: 0;
  }
}
.btn {
}

//========================================================================================================================================================

.widgets {
  // .widgets__body
  &__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
.widgets-card {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  &__title {
  }
  // .widgets-card__line
  &__line {
    border: 0;
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.5);
    margin: 10px 0;
  }
  // .widgets-card__content
  &__content {
  }
}

//========================================================================================================================================================
