<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Info</title>
    <link rel="stylesheet" href="../css/style.css">

    <script src="https://apis.google.com/js/api.js"defer></script>
    <script src="../js/info-channel.js" defer></script>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__body">
          <a href="/" class="logo"><span>YT</span><span>Project</span></a>
          <nav class="menu">
            <ul class="menu__list">
              <li class="menu__item">
                <a href="index.html" class="menu__link">Головна</a>
              </li>
              <li class="menu__item">
                <a href="yt-anal.html" class="menu__link">YouTube Аналітика</a>
              </li>
              <li class="menu__item">
                <a href="settings.html" class="menu__link">Настройкі</a>
              </li>
            </ul>
            <label class="switch">
              <input type="checkbox" />
              <span class="slider round"></span>
            </label>
          </nav>
        </div>
      </div>
    </header>
    <div class="wrapper">
      <main class="main">
        <section class="search section-page">
           <h2 class="yt-analytics__title section-title">Інформація про канал</h2>
          <div class="container">
            <div class="search__body">
               <input class='search__input' type="search" placeholder="ID канала" >
               <button class="search__btn btn lock">Отримати інформацію</button>
            </div>
          </div>
        </section>
        <section class="result section-page">
          <div class="container">
            <div class="result__out">

            </div>
          </div>
        </section>
      </main>
        <footer class="footer">
        <div class="container">&copy; design by DiniC and Taras</div>
      </footer>
    </div>


    </div>
  </body>
</html>
